{{{html}}}

<section class="gh-cta">
    {{#has visibility="paid"}}
        <h4 class="gh-cta-title">Bài này chỉ dành cho thành viên trả phí</h4>
    {{/has}}
    {{#has visibility="members"}}
        <h4 class="gh-cta-title">Bài này chỉ dành cho thành viên</h4>
    {{/has}}
    {{#has visibility="filter"}}
        <h4 class="gh-cta-title">Bài này chỉ dành cho thành viên đã mua gói {{tiers}}</h4>
    {{/has}}

    <div class="gh-cta-actions">
        {{#if @member}}
            <button class="gh-btn gh-primary-btn" href="#/portal/account/plans" data-portal="account/plans">Nâng cấp ngay</button>
        {{else}}
            <button class="gh-btn gh-primary-btn" href="#/portal/signup" data-portal="signup">Đăng ký ngay</button>
            <span class="gh-cta-link" href="#/portal/signin" data-portal="signin">Đã có tài khoản? Đăng nhập.</span>
        {{/if}}
    </div>
</section>